LightShip VPS/Assets/ARDK/ArdkAuthConfig.asset
LightShip VPS/Assets/ARDK/ArdkAuthConfig.asset.meta
LightShip VPS/Logs
LightShip VPS/UserSettings
LightShip VPS/Library
LightShip VPS/Assets/resources
LightShip VPS/Temp
